<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }} SpotiSong {{ end }}</title>

    <!-- styles -->
    <link rel="stylesheet" href="static/css/global.css">
</head>
    <body class="w-screen h-screen">
        <!-- main page content -->
        {{ block "content" . }}
            <p>Page has no content</p>
        {{ end }}

        <!-- js -->
        <script src="static/js/alpine.min.js" defer></script>
        <script src="static/js/htmx.min.js"></script>
    </body>
</html>

