<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotiSong</title>

    <!-- styles -->
    <link rel="stylesheet" href="static/css/global.css">
</head>
    <body>
        <div class="grid w-screen h-screen">
            <div class="place-self-center ">
                <h1 class="text-center font-bold text-lg p-10">SpotiSong</h1>
                <strong class="uppercase">Under development</strong>
            </div>
        </div>

        <!-- js -->
        <script src="static/js/alpine.min.js" defer></script>
        <script src="static/js/htmx.min.js"></script>
    </body>
</html>